<div ng-controller="MappingConfigCtrl"  class="app-ctrl">
<div class="bg-light lter b-b wrapper-md app-title-fixed">
	<div class="row">
        <div class="col-sm-6 col-xs-5">
          <h1 class="m-n font-thin h3">文档设置</h1>
        </div>
        <div class="col-sm-6 col-xs-7" style="text-align: right;">
          	<button class="btn btn-primary" ng-click="add()">添加</button>
			<button class="btn btn-primary" ng-disabled="!selected" ng-click="edit()">编辑</button>
			<button class="btn btn-primary" ng-disabled="!selected" ng-click="remove()">删除</button>
        </div>
      </div>
</div>
<div class="wrapper-md app-inner" >
	<div class="row">
		<div class="col-sm-12" style="padding: 10px 5px;">
		<form class="form-inline">
			  <div class="form-group">
			    <input type="text" class="form-control" ng-model="condition.extensions" id="extensions" placeholder="扩展名">
			  </div>
			  <div class="form-group">
					<select ng-model="condition.category" class="form-control" >
						<option  ng-repeat="category in categories" value="{{category.value}}">{{category.name}}</option>
					</select> 
				</div>
			</form>
		</div>
		<div class="col-sm-12">
			<p class="m-t" ng-show="status.loading">正在加载文件配置列表....</p>
			<p class="m-t" ng-show="!status.loading && status.loadError">{{status.loadErrorText}}</p>
			<div class="row">
				<div class="mapping col-md-3 col-xs-12 col-sm-6"  ng-repeat="mapping in mappings | filter:search" ng-click="setSelected(mapping)">
					<div class="mapping-content" ng-class="{'mapping-selected':mapping.selected === true}">
						<img class="mapping-icon" ng-src="{{mapping.icon | resource}}">
						<div class="mapping-inner">
							<div class="mapping-extensions">扩展名：{{mapping.extensions}}</div>
							<div class="mapping-category">分类：{{mapping.categoryName}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>