<div class="m-c">
	<div class="modal-header">
		<h4 class="modal-title">文档配置 - {{operation}}</h4>
	</div>
	<div class="modal-body wrapper-lg">
		<div class="row">
			<div class="col-sm-12">
				<form name="mappingConfigForm" class="form-horizontal form-validation">
					<div class="form-group">
						<label class="col-sm-3 control-label">后缀</label>
						<div class="col-sm-9">
							<textarea rows="3" name="extensions" ng-model="mapping.extensions" required="required" class="form-control"></textarea>
							<span class="help-block m-b-none">多个后缀使用“,”进行隔开</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">分类</label>
						<div class="col-sm-9">
							<select ng-model="mapping.category" ng-change="fileStorageChange()" ng-options="category.value as category.name for category in categories" required class="form-control" ></select> 
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">图标</label>
						<div class="col-sm-9">
							<div style="margin-bottom:10px;" ng-show="mapping.icon != null">
								<img id="mappingIcon" ng-src='{{mapping.icon | resource}}' style="max-height: 80px;"/>
							</div>
							<button type="button" class="btn btn-default" onclick="$('#iconFileInput').click();" ng-disabled="icon.uploading">{{icon.operation}}</button>
								推荐尺寸240*240，大小不超过2MB
							<div class="alert alert-danger" ng-show="icon.uploadError" style="margin-top: 5px;margin-bottom:0px;" role="alert">{{icon.uploadErrorText}}</div>
						</div>
					</div>
					<div class="form-group m-b-none" ng-show="result" >
						<div class="col-sm-12 ">
 							<div class="alert alert-danger m-b-none"role="alert">{{result.message}}</div>
						</div>
					</div>
					<input id="iconFileInput" type="file" class="hidden" onchange="angular.element(this).scope().uploadIcon()" accept="image/*"> 
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer" style="text-align: right;">
		<button type="button" class="btn btn-primary" ng-click="save()"  ng-disabled="mappingConfigForm.$invalid || !mappingConfigForm.$dirty">保存</button>
		<button type="button" class="btn btn-minor" ng-click="cancel()">取消</button>
	</div>
</div>