<div ng-controller="SettingsCtrl"  class="app-ctrl">
<div class="bg-light lter b-b wrapper-md app-title-fixed">
	<div class="row">
        <div class="col-sm-6 col-xs-6">
          <h1 class="m-n font-thin h3">应用设置</h1>
        </div>
        <div class="col-sm-6 col-xs-6" style="text-align: right;">
          <button class="btn btn-primary" ng-disabled="settingForm.$invalid || !settingForm.$dirty" ng-click="save()">保存</button>
          <button class="btn btn-minor" ng-disabled="!settingForm.$dirty" ng-click="reset()">重置</button>
        </div>
      </div>
</div>
<div class="wrapper-md app-inner" >
	<form name="settingForm" class="form-horizontal form-property form-validation" method="get">
	<input id="imageFileInput" type="file" class="hidden" onchange="angular.element(this).scope().upload()" accept="image/*"> 
	<div class="panel panel-default">
		<div class="panel-heading font-bold">应用设置</div>
		<div class="panel-body">
				<div class="form-group">
					<label class="col-sm-5 control-label">应用名称</label>
					<div class="col-sm-7">
						<input type="text" name="appName" ng-model='appSetting.appName' class="form-control" >
						<span class="help-block m-b-none">用于在系统中显示的应用名称</span>
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-5 control-label">应用程序LOGO</label>
					<div class="col-sm-7">
						<div class="m-b-sm">
							<img id="appLogoImage" ng-src='{{appSetting.appLogo | resource}}'  />
						</div>
						<button class="btn btn-default" ng-click="selectImage('appLogo')" ng-disabled="uploadType == 'appLogo' && uploading">
							<span ng-show="uploadType == 'appLogo' && uploading === true">正在上传...</span>
							<span ng-show="uploadType != 'appLogo' || uploading !== true">选择LOGO</span>
						</button>
						推荐尺寸240*240，大小不超过2MB
						<div class="alert alert-danger m-t-xs" ng-show="uploadType == 'appLogo' && uploadResult.success === false && !uploading" >
							{{uploadResult.message}}
						</div>
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-5 control-label">应用程序图标</label>
					<div class="col-sm-7">
						<div class="m-b-sm">
							<img id="appIconImage" ng-src='{{appSetting.appIcon | resource}}'  />
						</div>
						<button class="btn btn-default" ng-click="selectImage('appIcon')" ng-disabled="uploadType == 'appIcon' && uploading">
							<span ng-show="uploadType == 'appIcon' && uploading === true">正在上传...</span>
							<span ng-show="uploadType != 'appIcon' || uploading !== true">选择图标</span>
						</button>
						推荐尺寸24*24，大小不超过200KB
						<div class="alert alert-danger m-t-xs" ng-show="uploadType == 'appIcon' && uploadResult.success === false && !uploading" >
							{{uploadResult.message}}
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading font-bold">文档设置</div>
		<div class="panel-body">
				<!-- <div class="form-group">
					<label class="col-sm-5 control-label">默认分类</label>
					<div class="col-sm-7">
						<input type="text" name="defaultDocCategory" ng-model='appSetting.defaultDocCategory' class="form-control" >
						<span class="help-block m-b-none">用于在系统中显示的应用名称</span>
					</div>
				</div> -->
				<div class="form-group">
					<label class="col-sm-5 control-label">默认文档图标</label>
					<div class="col-sm-7">
						<div class="m-b-sm">
							<img id="defaultDocIconImage" ng-src='{{appSetting.defaultDocIcon | resource}}'  />
						</div>
						<button class="btn btn-default" ng-click="selectImage('defaultDocIcon')" ng-disabled="uploadType == 'defaultDocIcon' && uploading">
							<span ng-show="uploadType == 'defaultDocIcon' && uploading === true">正在上传...</span>
							<span ng-show="uploadType != 'defaultDocIcon' || uploading !== true">选择图标</span>
						</button>
						推荐尺寸48*48大小内，大小不超过512KB
						<div class="alert alert-danger m-t-xs" ng-show="uploadType == 'defaultDocIcon' && uploadResult.success === false && !uploading" >
							{{uploadResult.message}}
						</div>
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-5 control-label">普通文件夹图标</label>
					<div class="col-sm-7">
						<div class="m-b-sm">
							<img id="publicFolderIconImage" ng-src='{{appSetting.publicFolderIcon | resource}}'  />
						</div>
						<button class="btn btn-default" ng-click="selectImage('publicFolderIcon')" ng-disabled="uploadType == 'publicFolderIcon' && uploading">
							<span ng-show="uploadType == 'publicFolderIcon' && uploading === true">正在上传...</span>
							<span ng-show="uploadType != 'publicFolderIcon' || uploading !== true">选择图标</span>
						</button>
						推荐尺寸48*48大小内，大小不超过512KB
						<div class="alert alert-danger m-t-xs" ng-show="uploadType == 'publicFolderIcon' && uploadResult.success === false && !uploading" >
							{{uploadResult.message}}
						</div>
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-5 control-label">共享文件夹图标</label>
					<input id="iconFileInput" type="file" class="hidden" onchange="angular.element(this).scope().uploadIcon()"> 
					<div class="col-sm-7">
						<div class="m-b-sm">
							<img id="privateFolderIconImage" ng-src='{{appSetting.privateFolderIcon | resource}}'  />
						</div>
						<button class="btn btn-default" ng-click="selectImage('privateFolderIcon')" ng-disabled="uploadType == 'privateFolderIcon' && uploading">
							<span ng-show="uploadType == 'privateFolderIcon' && uploading === true">正在上传...</span>
							<span ng-show="uploadType != 'privateFolderIcon' || uploading !== true">选择图标</span>
						</button>
						推荐尺寸48*48大小内，大小不超过512KB
						<div class="alert alert-danger m-t-xs" ng-show="uploadType == 'privateFolderIcon' && uploadResult.success === false && !uploading" >
							{{uploadResult.message}}
						</div>
					</div>
				</div>
		</div>
	</div>
	<!-- <div class="panel panel-default">
		<div class="panel-heading font-bold">公告通知</div>
		<div class="panel-body">
				<div class="form-group">
					<label class="col-sm-12 control-label" style="margin-bottom:5px;">标题</label>
					<div class="col-sm-12">
						<input type="text" name="noticeTitle" ng-model='appSetting.noticeTitle' class="form-control">
						<span class="help-block m-b-none">用于在系统中显示的通知标题</span>
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-12 control-label" style="margin-bottom:5px;">内容</label>
					<div class="col-sm-12">
						<textarea class="form-control" name="appSetting.noticeContent" ng-model='appSetting.noticeContent' rows="10"></textarea>
					</div>
				</div>
		</div>
	</div> -->
	</form>
</div>
</div>