<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <title>瀚为云文档协作平台 - 401</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/asset/dist/css/basic.min.css" type="text/css"/>
    <link rel="shortcut icon" href="/asset/img/logo_60_blue.png">
</head>
<body>
<div class="bg-primary wrapper-xxl">
    <img alt="" src="/asset/img/logo_100.png" style="height: 30px;margin-top: -12px;">
    <span class="text-2x m-l-sm" style="color:#fff;">瀚为云文档协作平台 - 401</span>
</div>
<div class="wrapper-xxl text-center">
    <i class="iconfont icon-401"></i>
    <p>没有权限访问</p>
</div>
</body>
</html>
